<style>
	.btn-file {
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}		
	td:nth-of-type(1) {
		display: none;
	}
	.alert-top {
		top:50px;
		width:100%;
		display:none;
		text-align: center;
		margin-bottom: 0;
		padding:10px;
	}
	#contextMenu {
	  position: absolute;
	  display:none;
	}

</style>